/cmake-build-debug
/coverage
/CWSDPMI.SWP
/noudar
/Makefile.editor~
/Makefile~
/CWSDPMI.EXE
/Makefile.DOS~
/.idea
/editor-clion
/knights2
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.idea/noudar-core.iml
/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
/noudar_core
/noudar_core.cbp
/noudar_core_test
/site
/ncurses-version
/unittests
/CMakeFiles
noudar.dSYM/
noudar-core/.idea