/Makefile.editor~
/Makefile~
/CWSDPMI.EXE
/Makefile.DOS~
/.idea/.name
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.6.3/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.6.3/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.6.3/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.6.3/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.6.3/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/3.6.3/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.6.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/feature_tests.bin
/cmake-build-debug/CMakeFiles/feature_tests.c
/cmake-build-debug/CMakeFiles/feature_tests.cxx
/cmake-build-debug/CMakeFiles/noudar_core.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/noudar_core.dir/build.make
/cmake-build-debug/CMakeFiles/noudar_core.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/noudar_core.dir/depend.make
/cmake-build-debug/CMakeFiles/noudar_core.dir/flags.make
/cmake-build-debug/CMakeFiles/noudar_core.dir/link.txt
/cmake-build-debug/CMakeFiles/noudar_core.dir/progress.make
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/Makefile
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/noudar_core.cbp
/editor-clion/.idea/editor-clion.iml
/editor-clion/.idea/misc.xml
/editor-clion/.idea/modules.xml
/editor-clion/.idea/workspace.xml
/.idea/codeStyleSettings.xml
/.idea/knightsofiberia.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/knights2
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
